{% load static %}
<!-- Header -->
<header id="header" class="header">
    <a href="{% url 'IndexPage' %}" class="logo"><img src="{% static 'images/banana_logo.png' %}" alt=""></a>
    <div class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'IndexPage' %}">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Protfolio</a></li>
                <!-- <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#clients">Clients</a></li> -->
                <li><a href="#team">Team</a></li>
                <li><a href="{% url 'JobApplicationFormPage' %}">Career</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>